<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href = "style.css" />
  <link rel="stylesheet" href="prism.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
  <title></title>
</head>
<body>
  <nav>
    <div class="header">
      <div class="brand">
        <img class="logo" src="logo.png" />
      </div>
      <div class="title">
        <a href="index.html">API Reference</a>
      </div>
    </div>
  </nav>
  <div class="wrapper">
    <div class="flex-container">
      <aside>
        <h2>API Methods</h2>
        <ul>{{range .Parser.Endpoints}}
          <li><a class="link {{.Name}}" href="#{{.Name}}" data-target="{{.Name}}">{{unfold .Name}}</a></li>{{end}}
        </ul>
      </aside>
      <main class="general selected">
        <section class="description">
          <h1>Introduction</h1>
          <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis finibus, urna eget vestibulum imperdiet, ante est placerat urna, at tincidunt urna tellus posuere erat. Sed non maximus odio. Nullam sagittis ex eu urna molestie viverra ut in lacus. Sed sit amet ex tincidunt magna condimentum pretium nec id lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque eu felis varius, pulvinar nunc eget, luctus lorem. Quisque et urna consectetur, dapibus leo vel, rhoncus nibh. Sed semper orci quis mollis dictum. Nunc pellentesque velit sit amet elementum mattis. Pellentesque tortor massa, auctor eu dolor vel, molestie egestas nisl.

</p>
          <h2>Conventions</h2>
          <p>Vivamus quis pharetra quam. Maecenas ac enim eget lacus suscipit ornare.</p>
          <ul>
            <li>Aliquam semper, nunc ultrices sollicitudin congue</li>
            <li>tellus justo viverra nisi, elementum pharetra sapien tellus ac ex.</li>
            <li>Etiam efficitur imperdiet viverra</li>
            <li>Mauris nec purus at lacus sollicitudin pretium.</li>
          </ul>
          <h2>Example</h2>
          <pre><code class="language-json">// Request
{
  "method": "signup",
  "requestID": "a8372aaf-ae3d-4ccb-9ab7-054c31d0ec52",
  "data": {
    "username": "chad",
    "password": "secret"
  }
}

// Response
{
  "method": "signup",
  "ack": "a8372aaf-ae3d-4ccb-9ab7-054c31d0ec52",
  "data": {
    "user": {
      "id": "bb100fc4-29b6-4e2f-b19c-549687b27125",
      "displayName": "Chad Unicorn",
      "firstName": "Chad",
      "lastName": "Unicorn",
      "email": "chad@unicorn.com",
    },
    "session": {
      "id": "aa5706e4-baf8-4011-aad0-6d8d55730b8b",
      "userID": "bb100fc4-29b6-4e2f-b19c-549687b27125"
    }
  }
}</code></pre>
        </section>
      </main>
      {{range .Parser.Endpoints}}
        <main class="endpoint {{.Name}}">
          <section class="description">
            <h1>{{unfold .Name}}</h1>
            <p>{{.Description}}</p>
          </section>
          {{if .Parameters}}
          <section class="parameter">
            <h2>Parameters</h2>
            <table>
              <thead>
                <tr>
                  <th>Field</th>
                  <th>Type</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                {{range .Parameters}}
                <tr>
                  <td><code>{{.Tag}}</code></td>
                  <td><code>{{.Type}}</code></td>
                  <td>{{.Description}}</td>
                </tr>
              {{end}}
              </tbody>
            </table>
          </section>
          {{end}}
          {{if .Response}}
          <section class="response">
            <h2>Response</h2>
            <p>Type {{.Response.Type}}</p>
            {{if .Response.Fields}}
            <table>
              <thead>
                <tr>
                  <th>Field</th>
                  <th>Type</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                {{range .Response.Fields}}
                <tr>
                  <td><code>{{.Field}}</code></td>
                  <td><code>{{.Type}}</code></td>
                  <td>{{.Description}}</td>
                </tr>
              {{end}}
              </tbody>
            </table>
            {{end}}
          </section>
          {{end}}
          {{range index $.Examples .Name}}
            <section class="example">
              <h2>Request Example</h2>
              <p>{{.Request.Description}}</p>
              <pre><code class="language-json">{{json .Request}}</code></pre>
              <h2>Response Example</h2>
              <pre><code class="language-json">{{json .Response}}</code></pre>
            </section>
          {{end}}
        </main>
      {{end}}
    </div>
  </div>
  <script src="prism.js"></script>
  <script>
    const hash = location.hash.split('#')[1]
    if (hash !== undefined) {
      const general = document.querySelector('main.selected')
      general.classList.toggle('selected')

      const current = document.querySelector(`main.${hash}`)
      current.classList.toggle("selected")

      const link = document.querySelector(`aside a.${hash}`)
      link.classList.toggle("selected")
    }

    const endpoints = document.getElementsByClassName('endpoint')
    const mains = document.getElementsByTagName('main')
    const links = document.getElementsByClassName('link')

    for (i = 0; i < links.length; i++) {
      links[i].onclick = function(event) {
        for (j = 0; j < links.length; j++) {
          links[j].setAttribute("class", "link")
        }
        event.target.setAttribute("class", "link selected")
        id = event.target.dataset.target
        const endpoint = document.getElementsByClassName(`endpoint ${id}`)

        for (j = 0; j < mains.length; j++) {
          mains[j].style.display = "none"
        }
        endpoint[0].style.display = "block"
      }
    }
  </script>
</body>
</html>
